@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Montserrat:wght@100;500&display=swap');

* {
  box-sizing:border-box;
  margin: 0;
  padding:0;
}
/*index*/
.meindex{ /*photo*/
  margin: 70px 10%;
  margin-bottom: 35px;
}

.meindex img {
  border-radius: 10px;

}

.textlow {
  text-align: center;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  font-family: 'Lexend';
  color: #333333;
  font-size: large;
  border-radius: 10px;
}

.btncv { 
  height: 50px;
  position: relative;;
  margin-bottom: 50px; 
}

.centercv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   padding:0.6em 2em;
  border-radius: 8px;
  color:#fff;
  background-color:#191919;
  font-size:1.1em;
  border:0;
  cursor:pointer;
  margin:1em;
}


/*about*/
.about {
  overflow-x:hidden;
  font-family: arial,sans-serif;
  
}

.section-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  border-bottom: #ECECEC 2px solid;
}

.section-container .columns{
  flex: 0 0 auto;
  width: 50%;
}

.section-container .columns.image {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 30px;
}

.section-container .columns.content {
  padding-top: 0;
  padding-right: 30px;
}

.section-container .columns.content h1{
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 20px;
  font-family: 'Lexend', sans-serif;
  color:#333333;
}

.section-container .columns.content p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
  color:#333333;
}


/*Talents*/

.talents{
  background-color: #FAFAFA;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: #ECECEC 2px solid;
}

.abtme_tech{
  padding-top: 10px;
  color:#333333;
}

.abtme_tech2{
  padding-bottom: 10px;
  color:#333333;
}  

.sksTitle {
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
  color:#333333;
}

.sks {
  display: flex;
}

.hardSkills {
  flex: 50%;
  color:#333333;
}

.softSkills{
  flex: 50%;
  color:#333333;
}


.container {
  background-color: #ececec;
  width: 95%;
  border-radius: 10px;
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
  padding-right: 10px;
}

.edit {
  width: 85%; 
  background-color: #F9F871;
  margin-bottom: 10px;
  border-radius: 10px;
} 

.PS {width: 80%; background-color: #F8B364;
margin-bottom: 10px;
border-radius: 10px;
} 

.HTML {width: 65%; background-color: #D17C6A;
margin-bottom: 10px;
border-radius: 10px;
} 

.CSS{width: 60%; background-color: #905564;
margin-bottom: 10px;
border-radius: 10px;
} 

.UTS{width: 80%; background-color: #687F85;
margin-bottom: 10px;
border-radius: 10px;
 } 

.LT{width: 80%; background-color: #4F5960;margin-bottom: 10px;
  border-radius: 10px;
} 

.TM{width: 90%; background-color: #35373B;
  margin-bottom: 10px;
  border-radius: 10px;
} 
  
.OM{width: 90%; background-color: #4B3848;margin-bottom: 10px;
  border-radius: 10px;
} 

.RandomFactsContainer {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: #ECECEC 2px solid;
}

.RandomFacts {
  display: flex;
  justify-content: left;
}

.RFpic {
  flex: 50%;
}

.RFpic img {
  height: 500px;
}
.RFtext {
  flex: 50%;
}

.RFtextTitle {
  text-align: left;
  padding-top: 50px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
}

.rftextstyle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding-top: 40px;
  color: #333333;

}

 /*portfolio*/
 .imgtext_port {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
 }

a.acts {
  color:#333333;
 font-size: 16px;
}

.description{
  font-family: Arial, Helvetica, sans-serif;
  color:#333333;
  font-size: 15px;
}

 /*portfolio*/
.wrapper {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #FAFAFA;
  border-bottom: #ECECEC 2px solid;
  
}

.activities {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.EachCodes {
  background-color: #ECECEC;
  margin: 10px 10px;
  padding: 10px;
  width: 30%;
  height: auto;
}

/*Artworks*/

.Artworks {
  background-color: #FAFAFA;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}

.artworksContainer {
  display: flex;
}

.Partworks {
  flex: 50%;
  padding-top: 3%;
}

.artworksP {
  margin: 10px 0px;
  margin-left: 30px;
  text-align: justify;
}

.SliderImages{
  padding-bottom: 2%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 50%;
  padding-left: 60px;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 400px;
}

.imagesSlider {
  display: flex;
  width: 100%;
}

.imagesSlider img{
  height: 400px;
  width: 400px;
  transition: all 0.15s ease;
  border-radius: 5px;
}

.imagesSlider input {
  display: none;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.dots label {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: #333333 solid 2px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 4px;
}

.dots label:hover {
  background: #333333;
}

#Geodude:checked ~ .m1{
  margin-left: 0;
}

#Darkrai:checked ~ .m2{
  margin-left: -100%;
}

#Snorlax:checked ~ .m3{
  margin-left: -200%;
}

#Magmar:checked ~ .m4{
  margin-left: -300%;
}

#Empoleon:checked ~ .m5{
  margin-left: -400%;
}

#Electivire:checked ~ .m6{
  margin-left: -500%;
}

/*Experience*/

.ExpMe {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}

.ExpMe h1{
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 20px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
}


.experience {
  padding-left: 10%;
  padding-right: 10%;
}

.timeline h1{
  text-align: center;
  font-family: 'Lexend', sans-serif;
  color: #333333;
}

.timelineText p {
  text-align: center;
  padding-top: 8px;
  color: #333333;
}

.hrlang {
  margin-top: 20px;
}

.timelineBox{
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 30px;
  color: #333333;
}

.timelineYear {

  padding: 3px 0px;
  margin: 0px 30%;
  margin-right: 61%;
  text-align: center;
  border-radius: 5px;
  color: #333333;
  font-family: 'Lexend', sans-serif;
}

.timelineExp {
  text-align: justify;
  margin: 5px 33%;
  border-radius: 10px;
  padding: 10px;
  border: #ececec 2px solid;
  color: #333333;
  font-size: 15px;
  background-color: #fafafa;
}

.AwardMe {
  margin-top:70px;
  background-color: #FAFAFA;
  padding-bottom: 10px;
}

.ExpMe2 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
}

.ExpMe2 h1{
  font-weight: 700;
  font-size: 100px;
  margin-bottom: 20px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
}

/*Contact*/
.platFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plafPics {
  height: 30px;
}

.platform a {
  display: flex;
  justify-content: left;
}

.platform a p {
  padding-top: 5px;
  padding-left: 10px;
  font-family: 'Lexend', sans-serif;
}


.platFlexLeft{
  flex: 50%;
  padding-top: 30px;
  padding-left: 20px;
}


.platFlexRight{
  flex: 50%;
  padding-top: 30px;
  padding-left: 20px;
}

.abtMePic2{
  height: 500px;
  width: auto;
  margin: 0px 60px;
  border-radius: 10px;
}

.abtMePic {
  border-radius: 10px;
}

.platform2{
  padding-top: 20px;
}

.platform2 a {
  display: flex;
  justify-content: left;
}

.platform2 a p {
  padding-top: 5px;
  padding-left: 10px;
  font-family: 'Lexend', sans-serif;
}

/*Webinar Acts*/
.webinar {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #Ffffff;
  border-bottom: #ECECEC 2px solid;
}

.WebActsContainer {
  display: flex;
  justify-content: space-evenly;
}

.WebActsPics {
  height: 20vh;
}

.WebActsEach{
  padding: 30px;
}

.WebText{
  text-align: center;
  margin-top: 15px;
  font-weight: 700;
}

.WebActsPics:hover{
  transform:scale(1.2, 1.2);
  transition: 400ms ease-in-out;
  
}
